<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
         
	<servlet>
		<servlet-name>RegForCourseServlet</servlet-name>
		<servlet-class>nvz.servlets.RegForCourseServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AddCourseToCartServlet</servlet-name>
		<servlet-class>nvz.servlets.AddCourseToCartServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ShowShoppingCartServlet</servlet-name>
		<servlet-class>nvz.servlets.ShowShoppingCartServlet</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>RegForCourseServlet</servlet-name>
		<url-pattern>/register.html</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AddCourseToCartServlet</servlet-name>
		<url-pattern>/addCourseToCart.html</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ShowShoppingCartServlet</servlet-name>
		<url-pattern>/showCart.html</url-pattern>
	</servlet-mapping>
	
	
</web-app>
